* {
    box-sizing: border-box;
    transition: none 0.1s ease-in-out;
}

@font-face {
    font-family: 'Silkscreen';
    src: local('Silkscreen'),
        url('./fonts/Silkscreen-Regular.ttf') format('woff');
    font-family: 'Welbut';
    src: local('Welbut'),
        url('./fonts/Welbut__.ttf') format('woff');
}


:root {
    --color1: rgb(0, 129, 249);
    --color1-lighter: rgba(134, 223, 253, 0.75);
    --color2: rgb(255, 255, 255);
    --color3: rgb(238, 0, 99);
    --color3-lighter: rgb(255, 0, 127);
    --color-success: rgb(75, 205, 75);
    --color-failed: rgb(201, 0, 47);
    --color-control: var(--color2);
    --background-color-control: #303030;
    --background-color-control-hover: #5e5e5e;
    --background-color1: #686868;
    --background-color2: #a8a8a8;
    --background-color-overlay: rgba(100, 100, 100, 0.9);
    --font-size-large-screen: 20px;
    --font-size-med-screen: 14px;
    --font-size-small-screen: 10px;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Silkscreen', sans-serif;
    background-color: var(--background-color2);
    font-size: var(--font-size-large-screen);
}

@media (max-width: 1200px) {
    body {
        font-size: var(--font-size-med-screen);
    }
}
@media (max-width: 800px) {
    body {
        font-size: var(--font-size-small-screen);
    }
}

input, button {
    font-family: 'Welbut', sans-serif;
    padding: 0.7rem 0.7rem;
    background-color: var(--background-color-control);
    color: var(--color-control);
    border: none;
}

input:hover, button:hover {
    background-color: var(--background-color-control-hover);
}

input {
    width: 10em;
}

button {
    cursor: pointer;
}

dialog {
    background-color: var(--background-color1);
    color: var(--color2);
    border: none;
    font-family: 'Welbut', sans-serif;
    padding: 2rem;
}

dialog::backdrop {
    background-color: var(--background-color-overlay);
}

#root {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex: 1;
    min-width: 50%;
    min-height: 0;
}

/* Fix width so that the board stuck in the middle immediately has a reliabl size
for layout calculation */
header, footer {
    width: 25%;
}

header {
    text-align: center;
    padding: 1rem;
}

footer {
    padding: 1rem;
}

#controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#controls button {
    text-transform: uppercase;
    background-color: var(--color3);
    font-size: 180%;
}

#controls button:hover {
    background-color: var(--color3-lighter);
}

#parameters {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

#parameters > div {
    margin-bottom: 0.5rem;
}

#parameters > div:last-child {
    margin-bottom: 0;
}

#board {
    background-color: var(--background-color1);
    position: relative;
}

.square {
    transition-property: background-color, box-shadow;
    position: absolute;
    background-color: var(--color1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 4px 4px 4px -2px var(--color1-lighter);
}

.square:hover:not(.success):not(.failed):not(.visible) {
    background-color: var(--color1-lighter);
}

.number {
    position: absolute;
    color: var(--color2);
    font-size: 220%;
    font-weight: bold;
    text-align: center;
    line-height: 1.5rem;
    visibility: hidden;
    user-select: none;
}

.square.visible .number {
    visibility: visible;
}

.square.success {
    background-color: var(--color-success);
    box-shadow: 4px 4px 4px -2px var(--color-success);
}

.square.failed {
    background-color: var(--color-failed);
    box-shadow: 4px 4px 4px -2px var(--color-failed);
}

#img-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
    opacity: 0;
    background-color: var(--background-color-overlay);
    transition-property: opacity, z-index;
    transition-duration: 100ms;
}

#img-container.visible {
    display: flex;
    z-index: 10;
    opacity: 1;
}

#img-container img {
    position: absolute;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition-property: opacity;
    transition-duration: 100ms;
    filter: grayscale(0.3) brightness(1.2) hue-rotate(100deg);
}

#img-container img.visible {
    opacity: 1;
}

#open-dialog-container {
    position: absolute;
    top: 0;
    right: 0;
}

#open-dialog-container button {
    font-size: 200%;
}

#close-dialog {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}

/* Mobile layout */
@media (max-width: 600px) {
    #root {
        flex-direction: column;
    }
    footer, header {
        width: 100%;
        text-align: center;
    }
    main {
        flex: 1;
        display: flex;
        min-height: 0; 
    }
    #img-container img {
        width: 100%;
    }
    #open-dialog-container {
        top: initial;
        bottom: 0;
    }
}
